img {
    display: block;
    margin: 30 auto 0 auto;
    width: 50%;
}

h1{
    display: inline;
    font-size: 20px;
}


.about{
    margin: 0 19 0 0;
}

.hoopsculture{
    width: 30px;
    float: right;
    display: inline;
}
.searchbar {
    display: block;
    margin: 20 auto 0 auto;
    height: 30px;
}

#googleoffered{
    display: block;
    text-align: center;
    
}